<!doctype html>
<html lang="en">

<!-- Mirrored from deepdothh3xqavqx.onion/product/d7f615c0-002d-11ea-bc1c-cf8280b26d10/rules by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Oct 2020 01:03:31 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/app.css">


            <title>DeepDotMarket - Product - UK FLAKE COCAINE | NDD | ADV. STEALTH</title>
    
</head>
<body class="pb-4">
<nav class="navbar navbar-expand-lg  navbar-dark bg-mgray">
    <div class="container">
        <a class="navbar-brand" href="../../index.html">DeepDotMarket</a>

        <input type="checkbox" id="navbar-toggle-cbox">


        <label class="navbar-toggler" for="navbar-toggle-cbox" data-toggle="collapse"
               data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
               aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </label>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                                                            
                </ul>

                <ul class="navbar-nav">
                                            <li class="nav-item">
                            <a class="nav-link" href="../../signin.html">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../signup">Sign Up</a>
                        </li>
                                    </ul>

        </div>
    </div>
</nav>


    <div class="container">
                <div class="mt-4">
            

    <nav class="main-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="../../index.html">Products</a>
            </li>
                        <li class="breadcrumb-item active" aria-current="page"><a
                        href="../../category/4b47a7e0-fcd4-11e9-9c0c-3fe4979295e8.html">Drugs</a>
            </li>
        </ol>
    </nav>


    <div class="row">
        <div class="col-md-4">
            <div class="slider">
                <div class="slides">
                                                                <div id="slide-1">
                            <img src="../../storage/products/8v6ks6q9rHVHKy2yG8MXn286QywrKrmaeZnEij4N.jpg">
                        </div>
                                    </div>

                                                    <a href="#slide-1">1</a>
                            </div>
        </div>

        <div class="col-md-5">
            
            <h2>UK FLAKE COCAINE | NDD | ADV. STEALTH</h2>
            <hr>

            <div class="row">
                <div class="col-md-12 text-center">

                    <form action="http://deepdothh3xqavqx.onion/profile/cart/d7f615c0-002d-11ea-bc1c-cf8280b26d10/add"  method="POST">
                        <input type="hidden" name="_token" value="o8E24h4nH3t6z4r0pXZUhcY5gpPpkpkdDK4WlGqZ">

                    <table class="table border-0 text-left table-borderless">
                        <tbody>

                        <tr>
                            <td class="text-right text-muted">Quality rate:</td>
                            <td>
                                <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>

                            </td>
                        </tr>
                        <tr>
                            <td class="text-right text-muted">
                                Type
                            </td>
                            <td>
                                <strong class="badge badge-info">Physical</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right text-muted">
                                Offers
                            </td>
                            <td>
                                <ul>
                                                                            <li>
                                            <strong>104.00
$</strong> per gram,
                                            for at least 1 product
                                        </li>
                                                                    </ul>

                            </td>
                        </tr>
                        <tr>
                            <td class="text-right text-muted">
                                Coins
                            </td>
                            <td>
                                                                    <span class="badge badge-indigo">BTC</span>
                                                            </td>
                        </tr>
                        <tr>
                            <td class="text-right text-muted">Left/Sold</td>
                            <td>
                                <span class="badge badge-light">862 grams</span>/
                                <span class="badge badge-light">16 grams </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                                            </td>
                        </tr>
                        <tr>
                                                            <td class="text-muted text-right">
                                    <label for="delivery">Delivery method:</label>
                                </td>
                                <td>
                                    <select name="delivery" id="delivery"
                                            class="form-control form-control-sm ">
                                                                                    <option value="d89d5110-002d-11ea-bf15-ddf21985f14b">Mail - 1 week - 3.00 $ (1 - 999 gram )</option>
                                                                            </select>
                                </td>
                                                    </tr>

                        <tr class="bg-light">
                            <td class="text-right text-muted">
                                <label for="coin">Pay with Coin:</label>
                            </td>
                            <td>
                                                                    <span class="badge badge-mblue">BTC</span>
                                    <input type="hidden" name="coin" value="btc">
                                                            </td>
                        </tr>
                        <tr class="bg-light">
                            <td class="text-right text-muted">
                                <label for="type">Purchase type:</label>
                            </td>
                            <td>
                                                                    <span class="badge badge-mblue">Normal Escrow</span>
                                    <input type="hidden" name="type" value="normal">
                                                            </td>
                        </tr>
                        <tr class="bg-light">

                            <td class="text-right text-muted">
                                <label for="amount">Amount:</label>
                            </td>
                            <td class="row">
                                <div class="col-md-5">
                                    <input type="number" min="1" name="amount" id="amount"
                                           value="1"
                                           max="862"
                                           class=" form-control form-control-sm"
                                           placeholder="Amount of grams"/>
                                </div>
                                <div class="col-md-7">
                                    <button class="btn btn-sm btn-block mb-2 btn-primary"><i class="fas fa-plus mr-2"></i>Add to
                                        cart
                                    </button>
                                                                    </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    </form>
                        
                </div>


            </div>
        </div>

        
        <div class="col-md-3">
            <div class="card mb-2">
                <div class="card-body">
                    <h6>
                        <i class="fas fa-shield-alt"></i>
                        Shop with confidence
                    </h6>
                    <div class="text-muted">
                        You are Escrow protected for each product in the market!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Seller information
                </div>
                <div class="card-body">
                    <div class="btn-group">
                        <a class="btn btn-light btn-sm" href="../../vendor/eda51190-fcd3-11e9-85e5-7ddbe3d6d43d.html">
                            <span >lafarmacia</span></a>

                        <span class="btn btn-primary active btn-sm">Level 3</span>
                    </div>

                                        <div class="row my-1 text-md-center">
                        <div class="col-4">
                            <span class="fas fa-plus-circle text-success"></span> 10
                        </div>
                        <div class="col-4">
                            <span class="fas fa-stop-circle text-secondary"></span> 0

                        </div>
                        <div class="col-4">
                            <span class="fas fa-minus-circle text-danger"></span> 0
                        </div>
                    </div>
                    <hr>
                        <a href="../../signin.html?otherParty=lafarmacia" class="btn mb-1 btn-outline-secondary"><span class="fas fa-envelope"></span> Send message</a>
                        <a href="../../searchf5a8.html?user=lafarmacia"  class="btn mb-1 btn-outline-info">Seller's products (4)</a>

                </div>
            </div>
        </div>

    </div>

    
    <ul id="productsmenu" class="my-4 nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link "
               href="../d7f615c0-002d-11ea-bc1c-cf8280b26d10.html#productsmenu">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  active "
               href="rules#productsmenu">Payment rules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link "
               href="feedback.html#productsmenu">Feedback</a>
        </li>
                    <li class="nav-item">
                <a class="nav-link "
                   href="delivery#productsmenu">Delivery</a>
            </li>
        

    </ul>

    

    <p><ul>
<li></li>
</ul>
</p>


        </div>


</div>

</body>

<!-- Mirrored from deepdothh3xqavqx.onion/product/d7f615c0-002d-11ea-bc1c-cf8280b26d10/rules by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Oct 2020 01:03:31 GMT -->
</html>