ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #333;
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: #CCC;
}
ul li {
  display: block;
  position: relative;
  float: left;
  background: #333;
  font-size: 16px;
}
/* This hides the dropdowns */
li ul {
  display: none;
}
ul li a {
  display: block;
  padding: 0.8em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}
ul li a:hover {
  background: #2c3e50;
  padding: 0.8em;
}
/* Display the dropdown */
li:hover > ul {
  display: block;
  position: absolute;
}
li:hover li {
  float: none;
}
li:hover a {
  background: #1bc2a2;
}
li:hover li a:hover {
  background: #2c3e50;
}
.main-navigation li ul li {
  border-top: 0;
  z-index: 2000;
}
/* Displays second level dropdowns to the right of the first level dropdown */
ul ul ul {
  left: 100%;
  top: 0;
}
/* Simple clearfix */
ul:before, ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
ul:after {
  clear: both;
}